In [1]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv("customer.csv")

In [8]:
df.sample(5)

    age  gender   review education purchased
34   86    Male  Average    School        No
17   22  Female     Poor        UG       Yes
14   15    Male     Poor        PG       Yes
10   98  Female     Good        UG       Yes
5    31  Female  Average    School       Yes

In [24]:
df=df.iloc[1:,2:3]

In [10]:
df

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
11     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes
15     Poor        UG        No
16     Poor        UG       Yes
17     Poor        UG       Yes
18     Good    School        No
19     Poor        PG       Yes
20  Average    School       Yes
21  Average        PG        No
22     Poor        PG       Yes
23     Good    School        No
24  Average        PG       Yes
25     Good    School        No
26     Poor        PG        No
27     Poor        PG        No
28     Poor    School        No
29  Average        UG       Yes
30  Average        UG        No
31     Poor    School       Yes
32  Average        UG       Yes
33     Good        PG       Yes
34  Average    School        No
35     Poor    School       Yes
36     Good        UG       Yes
37  Average        PG       Yes
38     Good    School        No
39     Poor        PG        No
40     Good    School        No
41     Good        PG       Yes
42     Good        PG       Yes
43     Poor        PG        No
44  Average        UG        No
45     Poor        PG       Yes
46     Poor        PG        No
47     Good        PG       Yes
48     Good        UG       Yes
49     Good        UG        No

In [59]:
# from sklearn.model_selection import train_test_split
# X_train,X_test,y_train,y_test=train_test_split(df.iloc[1:,2:3],df.iloc[:,:2],test_size=0.2)

In [60]:
# from sklearn.model_selection import train_test_split
# X_train,X_test,y_train,y_test=train_test_split(df,test_size=0.2,
#     train_size=0.2,
#     random_state=True,
#     shuffle=True,
#     stratify=None,
# )

In [61]:
# from sklearn.model_selection import train_test_split

# # Check the shape of the DataFrame
# print("DataFrame shape:", df.shape)

# # Ensure df has the required number of columns


# # Correct split assuming you want to use the first column as X and the second column as y
# X = df.iloc[:,0:2]  # Feature columns
# y = df.iloc[:,:-1]    # Target column

# # Split the DataFrame
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# # Verify the split
# print("X_train shape:", X_train.shape)
# print("X_test shape:", X_test.shape)
# print("y_train shape:", y_train.shape)
# print("y_test shape:", y_test.shape)

In [63]:
X_train

Empty DataFrame
Columns: []
Index: [32, 47, 15, 40, 24, 12, 30, 16, 41, 8, 20, 18, 35, 44, 42, 22, 45, 17, 6, 27, 28, 21, 4, 10, 25, 43, 49, 31, 39, 34, 38, 13, 26, 2, 14, 46, 37, 5]

In [64]:
X_test

Empty DataFrame
Columns: []
Index: [33, 3, 48, 11, 19, 7, 36, 9, 29, 23]

In [51]:
y_train

Empty DataFrame
Columns: []
Index: [32, 47, 15, 40, 24, 12, 30, 16, 41, 8, 20, 18, 35, 44, 42, 22, 45, 17, 6, 27, 28, 21, 4, 10, 25, 43, 49, 31, 39, 34, 38, 13, 26, 2, 14, 46, 37, 5]

In [65]:
import numpy as np
import pandas as pd

In [66]:
df = pd.read_csv('customer.csv')

In [67]:

df.sample(5)

    age  gender   review education purchased
47   38  Female     Good        PG       Yes
30   73    Male  Average        UG        No
48   39  Female     Good        UG       Yes
4    16  Female  Average        UG        No
43   27    Male     Poor        PG        No

In [68]:
df = df.iloc[:,2:]

In [69]:

df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [70]:
from sklearn.preprocessing import OrdinalEncoder

In [71]:

X_train

Empty DataFrame
Columns: []
Index: [32, 47, 15, 40, 24, 12, 30, 16, 41, 8, 20, 18, 35, 44, 42, 22, 45, 17, 6, 27, 28, 21, 4, 10, 25, 43, 49, 31, 39, 34, 38, 13, 26, 2, 14, 46, 37, 5]

In [72]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [73]:
oe.fit(X_train)

ValueError: Shape mismatch: if categories is an array, it has to be of shape (n_features,).

In [74]:
X_train

Empty DataFrame
Columns: []
Index: [32, 47, 15, 40, 24, 12, 30, 16, 41, 8, 20, 18, 35, 44, 42, 22, 45, 17, 6, 27, 28, 21, 4, 10, 25, 43, 49, 31, 39, 34, 38, 13, 26, 2, 14, 46, 37, 5]

In [75]:
oe.categories_

AttributeError: 'OrdinalEncoder' object has no attribute 'categories_'

In [76]:
X_train

Empty DataFrame
Columns: []
Index: [32, 47, 15, 40, 24, 12, 30, 16, 41, 8, 20, 18, 35, 44, 42, 22, 45, 17, 6, 27, 28, 21, 4, 10, 25, 43, 49, 31, 39, 34, 38, 13, 26, 2, 14, 46, 37, 5]

In [77]:

from sklearn.preprocessing import LabelEncoder

In [78]:
le = LabelEncoder()

In [79]:

LabelEncoder()

LabelEncoder()

In [80]:
le.classes_

AttributeError: 'LabelEncoder' object has no attribute 'classes_'

In [81]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

NotFittedError: This LabelEncoder instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.